@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --font: "Cairo", sans-serif;

  --xxxl: clamp(1rem, 3.5vw, 5rem);
  --xxl: clamp(1rem, 2.3vw, 4rem);
  --xl: clamp(1rem, 1.5vw, 3rem);
  --l: clamp(1rem, 1.2vw, 2rem);
  --m: clamp(0.7rem, 1vw, 1.25rem);
  --s: clamp(0.5rem, 0.8vw, 1rem);
  --xs: clamp(0.3rem, 1vw, 1rem);

  --accent1: #101418;
  --accent2: #e3f1e8;
  --accent3: #161b20;
  --accent4: #0c0f11;
  --accent5: #0c0f11b0;
  --primary1: #c5fcee;
  --primary2: #66fff5;
  --primary3: #008080;
  --secondary1: #354b45;
  --secondary2: #00ac87;
  --secondary3: #ff003a;
  --secondary4: #005a79;
  --secondary5: #003c58;
  --dominant1: #00ffe0;
  --dominant2: #ff5733;
  --dominant3: #5d00ff5b;
  --dominant4: #5d00ff91;
  --denied: rgba(224, 29, 52, 0.2);
  --denied1: rgba(145, 25, 39, 0.2);
  --denied2: rgb(255, 0, 0);
  --denied3: rgb(121, 5, 5);
  --muted: rgba(255, 255, 255, 0.5)
}

body {
  background-color: var(--accent1);
  color: white;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 300;
}
button {
  border: none;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  font-family: var(--font);
  padding-left: clamp(1rem, 1.5vw, 5rem);
  padding-right: clamp(1rem, 1.5vw, 5rem);
  margin: clamp(1rem, 1vw, 5rem);
}
button:hover {
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1.1, 1);
}
section {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: clamp(80%, 85%, 90%);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
.dash header {
  font-family: var(--font);
  background-color: var(--accent2);
  border-bottom: 1px solid var(--accent1);
}
.dash nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dash header a {
  color: var(--accent3);
}
.dash .store-left {
  display: flex;
  justify-content: center;
  flex: 0.5;
  color: var(--accent1);
  font-size: var(--l);
}
.dash .store-left i {
  cursor: pointer;
}
.dash .store-dropdown {
  display: none;
}
header .left {
  flex: 1;
  display: flex;
  justify-content: right;
}
.dash header .left img {
  max-width: clamp(50px, 60px, 70px);
}
.dash header .center {
  display: flex;
  flex: 3.5;
  justify-content: left;
}
.dash header .center a {
  margin: 0 1vw;
  font-size: var(--l);
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
}
.dash header .center a:hover {
  color: var(--secondary4);
}
.dash .store-center {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 3;
}
.store-search {
  display: flex;
  align-items: center;
  height: 5vh;
  background-color: var(--primary3);
  border-radius: 2rem;
  padding-left: 0.8rem;
  padding-right: 1rem;
  cursor: pointer;
}
.store-search:hover input, .dash .store-search input:focus {
  width: 25vw;
}
.store-search input {
  width: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: var(--accent2);
  font-size: var(--m);
  font-family: var(--font);
}
.store-search input::placeholder {
  color: rgba(255, 255, 255, 0.699);
}
.store-search i {
  font-size: var(--m);
}
.dash .store-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
i.fa-cart-shopping {
  position: relative;
  font-size: var(--xl);
}
.cart-quantity {
  position: absolute;
  font-size: var(--s);
  font-weight: 100;
  color: black;
  right: -1vh;
  top: -1vh;
  background-color: var(--dominant2);
  border-radius: 50rem;
  padding: 0.2rem 0.4rem;
}
header .right {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash header .right button {
  margin: 0 0.5rem;
  padding-top: clamp(0.3rem, 0.5rem, 1rem);
  padding-bottom: clamp(0.3rem, 0.5rem, 1rem);
  padding-right: clamp(0.5rem, 1rem, 2rem);
  padding-left: clamp(0.5rem, 1rem, 2rem);
  background-color: var(--dominant1);
  color: var(--accent1);
  font-size: var(--m);
  border: 1px solid var(--accent1);
}
.dash header .right .btn {
  background-color: transparent;
  color: var(--accent1);
}
.dash header .right button:hover {
  background-color: var(--denied3);
  color: var(--denied2);
  border: 1px solid var(--secondary1);
  cursor: not-allowed;
}
.dash header .right .btn:hover {
  background-color: var(--denied3);
  color: var(--denied2);
  border: 1px solid var(--accent1);
}
.store-nav {
  display: flex;
  background-color: var(--accent3);
  padding: 0.5rem 0.5rem;
  gap: 3rem;
}
.dash .store-nav {
  display: flex;
  gap: 3rem;
}
.store-nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
}
.store-nav a {
  color: var(--accent2);
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
}
.store-nav a:hover {
  color: var(--dominant2);
}
.store-nav .left {
  justify-content: center;
  align-items: center;
  flex: 2;
}
.store-main {
  height: 43.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-main {
  max-width: 70vw;
  margin: 0 auto;
}
.store-header {
  position: sticky;
  top: 0%;
  backdrop-filter: blur(15px);
  text-align: center;
  z-index: 1;
}
.store-header h1 {
  font-size: var(--xl);
  margin: 0;
}
.store-item-up {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store-section {
  margin: 3rem 0;
}
.store-section .store-item-up img {
  width: 40vh;
  margin: 1.5rem 0;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
.store-section .store-item-up img:hover {
  /* transform: scale(1.05, 1.05); */
  cursor: default;
}
.store-item-down {
  margin: 2rem 0;
}
.store-item-down a {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #00ffce;
  border-radius: 0.5vh;
  border: none;
  padding: 1vh 3rem; 
  color: black;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.2s ease;
  max-width: 5rem;
}
.store-item-down a:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5em 0.1em #00ffce;
  transform: scale(1.05, 1.05);
}
.js-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}
.store-item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-size: var(--m);
  background-color: var(--accent3);
  box-shadow: 0 0 1rem 0.1rem var(--accent4);
  transition: all 0.2s ease-in-out;
}
.store-item:hover {
  box-shadow: 0 0 1rem 0.1rem black;
  transform: scale(1.01, 1.01);
}
.store-item-info {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.store-item-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.store-item-info .item-type {
  text-shadow: 0 0 1rem var(--dominant2);
}
.store-item-info .store-item-name {
  color: var(--dominant1);
  font-weight: bold;
  font-size: larger;
  text-shadow: 0 0 1rem var(--dominant1);
}
.store-price-buy span, .store-price-rent span {
  text-shadow: 0 0 1rem var(--dominant1);
  color: var(--dominant1);
}
.store-price-buy, .store-price-rent {
  text-align: right;
}
.btn-available {
  display: flex;
  margin: 0 auto;
  background-color: #00ffce;
  border-radius: 0.5vh;
  border: none;
  padding: 1vh 3rem; 
  color: black;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-available:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5em 0.1em #00ffce;
  transform: scale(1.05, 1.05);
}
.btn-unavailable {
  display: flex;
  margin: 0 auto;
  background-color: var(--denied);
  border: none;
  padding: 1vh 3rem; 
  color: red;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-unavailable:hover {
  cursor: not-allowed;
  background-color: var(--denied1);
  transform: none;
}
.btn-sold {
  display: flex;
  margin: 0 auto;
  background-color: var(--denied);
  border-radius: 0.5vh;
  border: none;
  padding: 1vh 1.5vh; 
  color: #e3f1e8a4;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-sold:hover {
  cursor: not-allowed;
  background-color: var(--denied1);
  transform: none;
  border-radius: 0.5vh;
}
.store-container, .store-header {
  width: min(100%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--xl);
  gap: 4vw;
  flex: 2;
}
.store-container a, .store-header a {
  transition: all 0.3s ease-in-out;
}
.store-header a:hover {
  color: var(--dominant2);
  text-shadow: 0 0 1rem var(--dominant2);
}
.store-container a:hover {
  color: var(--dominant2);
  font-size: var(--xxl);
  text-shadow: 0 0 1rem var(--dominant2);
  letter-spacing: 5px
}
.item-body .item-section {
  display: flex;
  flex-direction: row;
  background-color: var(--accent3);
  margin: 15vh auto;
}
.item-section .items {
  flex: 3;
  padding: 1rem 2rem;
}
.item-section .items h1 {
  width: 100%;
  margin: 0;
  padding: 4rem 0 0 3rem;
  font-size: var(--xxl);
}
.item-section .title {
  border-bottom: 1px solid var(--secondary1);
}
.item-section .order {
  display: flex;
  flex: 1;
  padding: /* 24.7vh */4rem 4rem;
  border-left: 1px solid var(--secondary1);
}
.order h1 {
  display: flex;
  font-size: var(--xxl);
  justify-content: center;
}
.order a {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.order .go-back:hover {
  text-decoration: underline;
  color: var(--dominant1);
}
.item-section .table {
  display: flex;
  align-items: center;
  font-size: var(--m);
  text-transform: capitalize;
}
.table .left {
  flex: 6.2;
  padding: 0 2rem;
  justify-content: left;
}
.table .right {
  flex: 3.8;
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
}
.item-section article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.js-item {
  overflow: scroll;
  overflow-x: auto;
  max-height: 40vh;
  gap: 11vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.js-item i.fa-xmark:hover {
  cursor: pointer;
  color: var(--denied2);
}
.js-item::-webkit-scrollbar {
  width: 0.5rem;
}
.js-item::-webkit-scrollbar-track {
  background: transparent;
}
.js-item::-webkit-scrollbar-thumb {
  background-color: var(--dominant1);
  border-radius: 1rem;
}
.item-info .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-info .main img {
  max-width: 20vw;
  border-radius: 1rem;
}
.item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3vw;
}
.item-info .interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 5;
}
.item-info .description {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: var(--l);
  font-weight: bold;
  flex: 1.1;
}
.interactions .price {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 3rem;
  font-size: var(--m);
  flex: 1;
}
.order-summary h4 {
  font-size: var(--m);
}
footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
footer .upper {
  margin: 8vh 0;
}
footer .section2 a {
  font-size: var(--m);
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
footer .section2 a:hover {
  border-bottom: 1px solid var(--dominant1);
}
footer .upper img {
  margin-bottom: 2vh;
  transition: all 0.2s ease-in-out;
}
footer .upper img:hover {
  transform: scale(1.2, 1.2);
}
footer .down {
  font-size: var(--m);
  padding-top: 2vh;
  margin-bottom: 5vh;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
}
footer .down a {
  transition: all 0.2s ease-in-out;
}
footer .down a:hover {
  text-shadow: 0 0 1vh white;
}
.index-section1 {
  padding: 15rem 0;
}
.index-section1 h1 {
  text-align: center;
  font-size: var(--xxxl);
}
.index-section1 p {
  text-align: center;
  font-weight: 100;
  font-size: var(--l);
}
.index-section1 .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.index-section1 .btns button {
  font-size: var(--l);
}
.index-section1 button {
  background-color: var(--dominant1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
}
.index-section1 a {
  background-color: transparent;
  border: 1px solid var(--accent2);
  color: var(--accent2);
  border-radius: 0.5vh;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  padding-left: clamp(1rem, 1.5vw, 5rem);
  padding-right: clamp(1rem, 1.5vw, 5rem);
  padding-top: clamp(0.5rem, 0.7vw, 4rem);
  padding-bottom: clamp(0.5rem, 0.7vw, 4rem);
  margin: clamp(1rem, 1vw, 5rem);
}
.index-section1 button:hover {
  background-color: var(--denied3);
  color: var(--denied2);
  box-shadow: 0 0 1rem 0.1rem var(--denied3);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
  cursor: not-allowed;
}
.index-section1 a:hover {
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
  background-color: var(--accent2);
  color: var(--accent1);
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1.1, 1);
}

.index-section2 {
  background-color: var(--accent2);
  color: var(--accent1);
  width: min(100%, 100%);
  padding: 16rem 0;
}
.index-section2 article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;

}
.index-section2 .section1 {
  font-family: var(--font);
  display: flex;
  align-items: end;
  justify-content: center;
  flex: 1;
  width: min(90%, 100%);
}
.index-section2 .section1 h1 {
  font-size: var(--xxl);
  text-align: center;
}
.index-section2 .section2 {
  font-family: var(--font);
  display: flex;
  max-width: 90%;
  flex: 3;
  gap: 3vw;
}
.index-section2 .section2 h1 {
  font-size: var(--xl);
  font-weight: bold;
}
.index-section2 .section2 h2 {
  font-size: var(--m);
  font-weight: 500;
}
.index-section2 details p {
  font-weight: bolder;
  margin: 0;
}
.index-section2 .section2 summary {
  list-style: none;
  font-size: var(--l);
  font-weight: 500;
  cursor: pointer;
}
.index-section2 .section2 details[open] summary {
  color: var(--dominant2);
}
.index-section2 .article3 div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.index-section2 i.fa-user-tie {
  color: var(--dominant1);
  font-size: var(--xxl);
}
.index-section2 i.fa-youtube {
  color: red;
  font-size: var(--xxl);
}
.index-section2 i.fa-twitch {
  color: rgb(98, 0, 255);
  font-size: var(--xxl);
}
.index-section2 i.fa-kickstarter {
  color: rgb(0, 255, 0);
  font-size: var(--xxl);
}
.index-section2 button {
  font: var(--m) var(--font);
  background-color: var(--accent2);
  padding: 0.5rem 1.5rem;
  border-radius: 1vh;
  box-shadow: 0 0 0.1rem 0.1rem var(--accent1);
}
.index-section2 button:hover {
  box-shadow: 0 0 1.3rem 1px var(--accent1);
}
.index-section2 .article1 button {
  color: var(--dominant1);
  box-shadow: 0 0 0.1rem 1px var(--dominant1);
}
.index-section2 .article2 button {
  color: red;
  box-shadow: 0 0 0.1rem 1px red;
}
.index-section2 .article3 button {
  color: rgb(98, 0, 255);
  box-shadow: 0 0 0.1rem 1px rgb(98, 0, 255);
}
.index-section2 .article1 button:hover {
/*   color: var(--dominant1);
  box-shadow: 0 0 1.3rem 1px var(--dominant1); */
  color: var(--denied2);
  box-shadow: 0 0 1.3rem 1px var(--denied3);
  background-color: var(--denied3);
  cursor: not-allowed;
}
.index-section2 .article2 button:hover {
/*   color: red;
  box-shadow: 0 0 1.3rem 1px red; */
  color: var(--denied2);
  box-shadow: 0 0 1.3rem 1px var(--denied3);
  background-color: var(--denied3);
  cursor: not-allowed;
}
.index-section2 .article3 button:hover {
/*   color: rgb(0, 255, 0);
  box-shadow: 0 0 1.3rem 1px rgb(0, 255, 0); */
  color: var(--denied2);
  box-shadow: 0 0 1.3rem 1px var(--denied3);
  background-color: var(--denied3);
  cursor: not-allowed;
}
.index-section3 {
  background-color: var(--dominant1);
  color: var(--accent1);
  font-size: var(--l);
  display: grid;
  width: min(100%, 100%);
  padding: 5rem 0;
}
.index-article {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.index-article p {
  margin: 0;
}
.index-section3 .article1 {
  font-size: var(--l);
  display: grid;
  align-content: center;
}
.index-section3 .article1 h1 {
  font-size: var(--xl);
}
.index-section3 .article2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 400;
  gap: 3vw;
}
.index-section3 .article2 i.fa-youtube {
  color: red;
  margin-right: 2%;
}
.index-section3 .article2 i.fa-twitch {
  color: rgb(98, 0, 255);
  margin-right: 2%;
}
.index-section3 .article2 i.fa-envelope {
  color: var(--accent1);
}
.index-section3 .name {
  font-weight: bold;
}
.index-section3 .description {
  margin-top: 5%;
  margin-bottom: 5%;
}

.index-section3 .article3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.index-section3 .article3 .contactus {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}
.index-section3 .article3 button {
  border: none;
  border-radius: 0.5vh;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  font-family: var(--font);
  background-color: var(--accent2);
  padding-left: clamp(1rem, 1.5vw, 5rem);
  padding-right: clamp(1rem, 1.5vw, 5rem);
  margin: clamp(1rem, 1vw, 5rem);
}
.index-section3 .article3 a {
  border: none;
  border-radius: 0.5vh;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  font-family: var(--font);
  background-color: var(--accent1);
  padding-left: clamp(1rem, 1.5vw, 5rem);
  padding-right: clamp(1rem, 1.5vw, 5rem);
  margin: clamp(1rem, 1vw, 5rem);
}
.index-section3 .article3 button:hover {
  transform: translateY(-0.2em);
  color: var(--accent2);
  box-shadow: 0 0 1rem 0.1rem var(--dominant3);
  background-color: var(--accent1);
}
.index-section3 .article3 a:hover {
  transform: translateY(-0.2em);
  color: var(--accent1);
  box-shadow: 0 0 1rem 0.1rem var(--dominant3);
  background-color: var(--accent2);
}
.index-section4 {
  background-color: var(--accent2);
  color: var(--accent1);
  font-size: var(--l);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(100%, 100%);
  padding: 6rem 0;
}
.index-section4 .article {
  flex: 2;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-section4 h1 {
  font-size: var(--xxxl);
}
.index-section4 p {
  font-size: var(--xl);
  margin: 0;
}
.index-section4 .article span {
  font-weight: bold;
}
/*  */
.rules-section {
  font-size: var(--m);
  background: radial-gradient(ellipse 40% 30% at 70% 20%, #004b5846, transparent);
  width: min(100%, 100%);
  text-align: right;
}
.rules-section .article {
  width: min(70%, 100%);
  margin-top: 5%;
}
.rules-section .article h1 {
  font-size: var(--xxl);
}
.rules-section .rules {
  max-width: 60%;
  margin: 0 auto;
  margin-top: clamp(1rem, 7vh, 10vh);
  margin-bottom: clamp(1rem, 7vh, 10vh);
}
.rules-section details {
  text-align: center;
  margin-top: clamp(1rem, 3vh, 6vh);
  margin-bottom: clamp(1rem, 3vh, 6vh);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.rules-section details[open] summary {
  color: var(--dominant1);
  text-shadow: 0 0 1rem var(--dominant1);
}
.rules-section summary {
  list-style: none;
  font-size: var(--xl);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}
.rules-section summary:hover {
  cursor: pointer;
  color: var(--dominant1);
}
.rules-section .type1 ol li {
  font-size: var(--m);
}
.rules-section .type1 ol li p, .rules-section .type2 ul {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--s);
  margin-top: 0.1rem;
}
.rules-section .type2 .li {
  margin: 1rem 0;
}
.rules-section .type2 .li p {
  margin-top: 0;
  font-size: var(--s);
  color: rgba(255, 255, 255, 0.7);
}
.rules-section .type2 ul li:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.8);
}
.rules-section .type3 ol {
  margin: 0 auto;
  padding-bottom: clamp(1rem, 1vh, 2rem);
}
.rules-section .type3 ol li {
  padding-bottom: clamp(1rem, 1vh, 2rem);
  color: rgba(255, 255, 255, 0.8);
}
.rules-section .type3 ol li:hover {
  text-decoration: underline;
  color: white;
}
.rules-section .type4 ol li {
  padding-bottom: clamp(1rem, 1vh, 2rem);
  color: rgba(255, 255, 255, 0.9);
}
.rules-section .type4 ol li:hover {
  text-decoration: underline;
  color: white;
}
.rules-section .type4 ol .li:hover {
  text-decoration: none;
}

.apply-section {
  gap: 5vh;
  background: radial-gradient(ellipse 50% 30% at 50% 5%, var(--dominant3), transparent);
}
.apply-section h1 {
  font-size: var(--xxl);
}
.apply-section .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(100%, 100%);
  gap: 2vw;
}
.apply-section .mo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3rem;
  border: 1px solid var(--muted);
  transition: all 0.2s ease-in-out;
  padding: 1rem 2rem;
}
.apply-section .mo:hover {
  box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.5);
}
.apply-section .box h1 {
  font-weight: bold;
  font-size: var(--xl);
}
.apply-section .title {
  font-weight: bold;
  font-size: var(--m);
  text-align: center;
}
.apply-section .requirement p {
  font-size: var(--m);
  text-align: center;
  font-weight: bolder;
}
.apply-section .btns {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.apply-section a {
/*   background-color: var(--accent2);
  color: var(--secondary1); */
  background-color: var(--denied);
  color: var(--denied2);
  font-size: var(--m);
  letter-spacing: 0;
  font-weight: bold;
  border-radius: 1vh;
  padding-left: clamp(1rem, 2rem, 3rem);
  padding-right: clamp(1rem, 2rem, 3rem);
  padding-top: clamp(0.3rem, 1rem, 3rem);
  padding-bottom: clamp(0.3rem, 1rem, 3rem);
  transition: all 0.2s ease-in-out;
  cursor: not-allowed;
}
.apply-section a:hover {
/*   transform: scale(1.1, 1.1); */
  background-color: var(--denied1);
}
.apply-section .btn {
  background-color: var(--accent2);
  color: var(--secondary1);
  font-size: var(--m);
  letter-spacing: 0;
  font-weight: bold;
  border-radius: 1vh;
  padding-left: clamp(1rem, 2rem, 3rem);
  padding-right: clamp(1rem, 2rem, 3rem);
  padding-top: clamp(0.3rem, 1rem, 3rem);
  padding-bottom: clamp(0.3rem, 1rem, 3rem);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.apply-section .btn:hover {
  background-color: var(--dominant1);
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.5);
}

.course header {
  display: flex;
  justify-content: left;
  padding: 1rem 0rem;
}
.course header a {
  background-color: var(--dominant1);
  color: var(--accent1);
  font-size: var(--l);
  padding: 1rem 2rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
}
.course header a:hover {
  background-color: var(--secondary2);
  color: var(--accent2);
}
.course header i {
  font-size: var(--m);
}
.course img {
  border-radius: 1rem;
}
.course main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course section {
  margin: 1rem 0;
  background-repeat: no-repeat;
  background-position: center;
}
.course .lesson3-section {
  margin-top: 4rem;
}
.course .course-section {
  background-size: cover;
  border-radius: 1rem;
  padding: 3rem 0;
}
.course .lesson-section {
  background: 
  radial-gradient(ellipse 50% 15% at 90% 15%, var(--secondary5), transparent),
  radial-gradient(ellipse 25% 5% at 30% 45%, var(--dominant1),transparent),
  radial-gradient(ellipse 25% 5% at 30% 60%, var(--dominant2),transparent),
  radial-gradient(ellipse 60% 25% at 50% 100%, var(--dominant4), var(--accent1));
}
.course .lesson3-section {
  background: 
  radial-gradient(ellipse 100% 10% at 50% 10%, var(--primary3), transparent),
  radial-gradient(ellipse 60% 10% at 50% 40%, var(--dominant2),transparent),
  radial-gradient(ellipse 60% 10% at 50% 65%, var(--dominant1),transparent),
  radial-gradient(ellipse 60% 25% at 50% 100%, var(--dominant4), var(--accent1));
}
.course .lesson3-section {
  padding-bottom: 5rem;
}
.course .course-section article, .course .lesson1 article {
  backdrop-filter: blur(1rem);
  background-color: #1014185b;
  border-radius: 1rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}
.course .course-section article:hover, .course .lesson1 article:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
}
.course .course-section div, .course .lesson div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course .lesson .main-lesson {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-lesson p {
  margin: 0 1.5rem;
}
.course article ol li {
  width: 40%;
  margin: 0 auto;
  list-style: none;
  text-align: right;
}
.course article ol li::after, .course ul li::after {
  content: '•';
}
.course ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style: none;
  margin: 0 1.4rem;
}
.course section h1, .course main h1 {
  font-size: var(--xxl);
  margin: 0;
}
.course section b {
  font-size: var(--x);
}
.course .course-section p {
  font-size: var(--l);
  font-weight: 300;
  margin: 0;
  text-decoration: underline;
}
.course section div a, .course .lesson3-section a {
  margin-top: 5rem;
  background-color: var(--dominant1);
  border: 1px solid var(--accent2);
  color: var(--accent1);
  border-radius: 0.5vh;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  padding-left: clamp(1rem, 1.5vw, 5rem);
  padding-right: clamp(1rem, 1.5vw, 5rem);
  padding-top: clamp(0.1rem, 0.3rem, 1rem);
  padding-bottom: clamp(0.1rem, 0.3rem, 1rem);
  margin: clamp(1rem, 1vw, 5rem);
}
.course section div a:hover, .course .lesson3-section a:hover {
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
  background-color: var(--accent2);
  color: var(--accent1);
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1.1, 1);
}
.course .lesson span {
  text-decoration: none;
  font-size: var(--xl);
  margin-top: 1rem;
}
.course .lesson2 p {
  text-decoration: none;
  font-size: var(--m);
  margin-right: 1rem;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}
.course .lesson2 span {
  margin-top: 1rem;
}
.course .lesson h4, .course .lesson h5 {
  font-size: var(--l);
  margin-bottom: 0;
}
.course .lesson div div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.course .lesson2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(11rem);
  border-radius: 1rem;
}
.course .lesson2 .header, .course .lesson2 .footer {
  justify-content: center;
}
.course .lesson2 article {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  min-width: 80vw;
}
.course article span {
  font-size: var(--xl);
}
.course .lesson2 figcaption {
  font-size: var(--m);
  text-align: center;
}
.course .lesson2 article {
  flex-direction: row;
}
.course .lesson2 .header div {
  align-items: center;
}
.course .lesson2 article div {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.course .lesson3 .steps {
  font-size: var(--xl);
  color: var(--dominant2);
}
.course .lesson2 article .main p {
  margin: 0;
  margin-right: 1rem;
}
.course aside .btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.course .lesson3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.course .container {
  border-radius: 1rem;
  backdrop-filter: blur(11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85vw;
}
.course .lesson3-section article {
  text-align: right;
  margin: 0 1rem;
}
.course .lesson3-section .container .grid {
  padding-top: 10rem;
}
